{% load static %}
<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="{% static 'livros/css/estilo.css' %}"> 
  </head>
  <body>
      {% for livro in livros %}
      <tr><th>Titulo</th><th>Data de Publicação</th> <th>Autor</th><th>Preço</th><th>Quantidade de Exemplares</th></tr>
      <tr>
        <td>{{livro.titulo}}</td>
        <td>{{livro.dataPublicacao}}</td>
        <td>{{livro.autor}}</td>
        <td>{{livro.preco}}</td>
        <td>{{livro.quantidadeExemplares}}/td>
      </tr> 
      {% empty %}
          Ainda não tem livros cadastrados na loja
      {% endfor %}
  </body>
</html>
